# LEDs
set_io              led[0]  	99
set_io              led[1]  	98
set_io              led[2]  	97
set_io              led[3]  	96

# PMOD I/O
set_io  -pullup yes pmod    	78

# CLOCK 
set_io				clock_in	21